#a2_v1{
  position: relative;
  align-items: center;
  text-align: center;
  display: block;
  margin: auto;
}

#metric
{
  display: block;
  width: 200px;
  margin: 40px auto 40px auto;
}
